<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Conversations Tab -->
    <ion-tab title="Conversations" icon-off="ion-chatboxes" icon-on="ion-chatboxes" href="#/tab/conversations">
        <ion-nav-view name="tab-conversations"></ion-nav-view>
    </ion-tab>
    <!-- Profile Tab -->
    <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
