<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-slide-box>
            <ion-slide style="height:500px">
                <h1>
                    SiSecure
                </h1>
            </ion-slide>
            <ion-slide style="height:500px">

            </ion-slide>
            <ion-slide style="height:500px">

            </ion-slide>
        </ion-slide-box>
        <div class="row">
            <div class="col">
                <button class="button button-block button-outline icon icon-right ion-unlocked" ng-click="showSignInModal()">Sign In</button>
            </div>
            <div class="col">
                <button class="button button-block button-outline icon icon-right ion-person-add" ng-click="showRegisterModal()">Sign Up</button>
            </div>
        </div>
    </ion-content>
</ion-view>
