<ion-modal-view ng-controller="LoginController">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">Password Recovery</h1>
        <button class="button button-clear icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content has-header="true">
        <form name="passwordRecovery">
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-icon item-icon-right">
                        <input class="mod-inputs" type="email" name="email" ng-model="user.email" placeholder="user@example.com">
                        <i ng-show="passwordRecovery.email.$error.required || passwordRecovery.email.$error.email" class="icon ion-close-circled assertive"></i>
                        <i ng-show="(!passwordRecovery.email.$error.required && !passwordRecovery.email.$error.email) && passwordRecovery.$dirty" class="icon ion-checkmark-circled balanced"></i>
                    </label>
                </div>
            </div>
            <div class="row">
                <span class="input-msgs" ng-show="passwordRecovery.email.$dirty && passwordRecovery.email.$invalid">
                    <p ng-show="passwordRecovery.email.$error.email"> Invalid email </p>
                    <p ng-show="passwordRecovery.email.$error.required"> Email is required </p>
                </span>
            </div>
            <div class="row">
                <div class="col" style="padding: 0 10px;">
                    <button ng-disabled="passwordRecovery.email.$dirty && passwordRecovery.email.$invalid" ng-click="recoverPassword(user)" class="button button-block button-outline icon icon-right ion-email">
                        Send
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
